*{

    font-family: 'Oswald', sans-serif;
    padding:0px;
    margin:0px;
    background-color: black;

    


}

body{
    min-height: 100%;
    overflow: auto;
}



h1 {
    color: #fff;
    font-size: 5vw;
    letter-spacing: 6px;
    margin: auto;
    padding-left: 35%;


  }
  
.drumpad {
    width: 470px;
    height: 470px;
    border: 5px solid rgb(0, 0, 0);
    position: relative;
    margin: auto;



    
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: inset 8px 8px 6px -6px gray;
    margin-bottom: 20%;




    


}

.pad1{
    background:linear-gradient(to top, pink, beige);
    position: absolute;
    margin-bottom: 20px;


    
}

.pad2{
    background:linear-gradient(to top, pink, beige);
    position: absolute;
    right: 0%;


    
}

.pad3{
    background:linear-gradient(to top, pink, beige);
    position: absolute;
    right: 160px;


    
}

.pad4{
    background:linear-gradient(to top, blueviolet, beige);
    position: absolute;
    top: 150px;
    margin-top: 10px;
}

.pad5{
    background:linear-gradient(to top, blueviolet, beige);
    position: absolute;
    right: 160px;
    top: 150px;
    margin-top: 10px;
}

.pad6{
    background:linear-gradient(to top, blueviolet, beige);
    position: absolute;
    right: 0%;
    top: 150px;
    margin-top: 10px;
}

.pad7{
    background:linear-gradient(to top, blueviolet, beige);
    position: absolute;
    top: 300px;
    margin-top: 20px;
}

.pad8{
    background:linear-gradient(to top, yellowgreen, beige);
    position: absolute;
    right: 160px;
    top: 300px;
    margin-top: 20px;
}

.pad9{
    background:linear-gradient(to top, yellowgreen, beige);
    position: absolute;
    right:0%;
    top: 300px;
    margin-top: 20px;
}

.box:hover {
   cursor: pointer;
}
  
.box:active {
    transform: scale(1.1);
    transition: all .2s;
}



#play{

    width: 150px;
    height: 150px;
    transition: all .3s;

}

#play:hover{

    transform: scale(1.04);
}

#play:active{

    transform: scale(0.9);
}

#stop:hover{

    transform: scale(1.04);
}

#stop:active{

    transform: scale(0.9);
}



#remix:hover{

    transform: scale(1.04);
}

#remix:active{

    transform: scale(0.9);
}

#buttons{

    color: white;
    width: 600px;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    font-size: 120px;
}
